<div class="login-pg">

  <h2 class="login-pg__login-title">Login</h2>
    <form class="login-pg__login-form">
      <div class="login-pg__login-form--email-row">
        <mat-form-field class="login-pg__login-form--mat-form-field">
          <input matInput placeholder="Email" name="email" value="" type="email" required>
          <!-- <mat-error *ngIf="loginForm.invalid">
            email is
            <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="login-pg__login-form--password-row">
        <mat-form-field class="login-pg__login-form--mat-form-field">
          <input matInput placeholder="Password" name="password" value="" type="password" required>
          <!-- <mat-error *ngIf="loginForm.invalid">
            password is
            <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary">Login</button>
      </div>
    </form>
</div>
