<div class="signup-pg">

  <h2 class="signup-pg__signup-title">signup</h2>
    <form class="signup-pg__signup-form" #signUpForm="ngForm" [formGroup]="signUpValidation" (ngSubmit)="createUser(signUpForm)">
       <div class="signup-pg__signup-form--name-row">
        <mat-form-field class="signup-pg__signup-form--mat-form-field">
          <input matInput placeholder="Name" name="name" formControlName="name" value="" type="text" (keyup)="isSignUpFormValid($event)" required>
          <!-- <mat-error *ngIf="loginForm.invalid">
            email is
            <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>
       <div class="signup-pg__signup-form--username-row">
        <mat-form-field class="signup-pg__signup-form--mat-form-field">
          <input matInput placeholder="Username" name="username" formControlName="username" value="" type="text" required>
          <!-- <mat-error *ngIf="loginForm.invalid">
            email is
            <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="signup-pg__signup-form--email-row">
        <mat-form-field class="signup-pg__signup-form--mat-form-field">
          <input matInput placeholder="Email" name="email" formControlName="email" value="" type="email" required>
          <!-- <mat-error *ngIf="loginForm.invalid">
            email is
            <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="signup-pg__signup-form--password-row">
        <mat-form-field class="signup-pg__signup-form--mat-form-field">
          <input matInput placeholder="Password" name="password" formControlName="password" value="" type="password" required>
          <!-- <mat-error *ngIf="loginForm.invalid">
            password is
            <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button color="primary" [disabled]="signUpValidation.invalid">Signup</button>
      </div>
    </form>
</div>
