.signup-pg {
  text-align: center;
  width: 50%;
  height: 80%;
  min-width: 200px;
  max-width: 278px;
  padding: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.signup-pg__signup-form--mat-form-field {
  width: 100%;
}
